;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[lilactown/helix "0.1.9"]]

 :dev-http {8080 "public"}

 :jvm-opts ["-Xss16m"]

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn libsodium.app/init}}
   :compiler-options {:install-deps true}}}}
